---
- name: Install Azure CLI
  block:
    - name: Install prerequisites
      apt:
        name:
          - curl
          - gnupg
          - lsb-release
        state: present

    - name: Add Microsoft repository
      apt_repository:
        repo: "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ {{ ansible_distribution_release }} main"
        state: present
        filename: azure-cli

    - name: Install Azure CLI
      apt:
        name: azure-cli
        state: present
        update_cache: yes

- name: Login to Azure
  shell: |
    az login --service-principal \
      -u "{{ azure_client_id }}" \
      -p "{{ azure_client_secret }}" \
      --tenant "{{ azure_tenant_id }}"
  environment:
    AZURE_CLIENT_ID: "{{ azure_client_id }}"
    AZURE_CLIENT_SECRET: "{{ azure_client_secret }}"
    AZURE_TENANT_ID: "{{ azure_tenant_id }}"

- name: Create resource group
  azure_rm_resourcegroup:
    name: "{{ azure_resource_group }}"
    location: "{{ azure_location }}"
    subscription_id: "{{ azure_subscription_id }}"
