---
- name: Teardown PuebloMarket Infrastructure
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
    - "../group_vars/all/vars.yml"

  tasks:
    - name: Delete resource group and all resources
      azure_rm_resourcegroup:
        name: "{{ azure_resource_group }}"
        location: "{{ azure_location }}"
        subscription_id: "{{ azure_subscription_id }}"
        state: absent
        force_delete_nonempty: yes

    - name: Remove Docker containers and images
      docker_container:
        name: "pueblo-market-backend"
        state: absent
      delegate_to: "{{ item }}"
      loop: "{{ groups['azure_containers'] }}"

    - name: Remove frontend container
      docker_container:
        name: "pueblo-market-frontend"
        state: absent
      delegate_to: "{{ item }}"
      loop: "{{ groups['azure_containers'] }}"

    - name: Remove Docker network
      docker_network:
        name: pueblo-network
        state: absent
      delegate_to: "{{ groups['azure_containers'][0] }}"
